// Hex Colors
$yellow: #f4d04e;
$white: #ffffff;
$dark-gray: #111111;
$gray: #6b6b6b;

// RGB Colors
$yellow-rgb: 244, 208, 78;
$white-rgb: 255, 255, 255;
$dark-gray-rgb: 17, 17, 17;
$gray-rgb: 107, 107, 107;

// HSL Colors
$yellow-hsl: 47, 88%, 63%;
$white-hsl: 0, 0%, 100%;
$dark-gray-hsl: 0, 0%, 7%;
$gray-hsl: 0, 0%, 42%;

// Font Family
$font-family-primary: 'Figtree', sans-serif;

// Spacing Variables
$spacing-1: 1.5rem;
$spacing-2: 0.75rem;
$spacing-3: 0.5rem;
$spacing-4: 0.25rem;